.transfer-fund-container {
    width: 100%;
    input {
        flex-grow: 1;
        height: 36px;
        padding-left: 8px;
        border: none;
    }
    .transfer-msg {
        position: absolute;
        background-color: rgba(104, 104, 104, 0.979);
        color: #E88C30;
        padding:10px 5px;
        text-align: center;
        font-size: 1em;
        font-weight: 700;
        width: fit-content;
        min-width: 50%;
        bottom:0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .transfer-msg.insufficient {
        color: red;
    }

}